* {
    margin: 0;
    padding: 0;
}
.invalid {
    display: none;
}
.valid {
    display: block;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
body {
    background-color: rgb(227, 227, 227);
    overflow-y: hidden;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 19px 12px;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
}
.logo {
    color: white;
    font-size: 19px;
}
main {
    min-height: 87.6vh;
    padding: 2px;
}
.container {
    max-width: 80vw;
    padding: 9px 10px;
}
.container h1 {
    padding: 12px 0;
}
.input {
    display: flex;
}
input[type="text"] {
    background-color: white;
    padding: 10px 2px;
    border: 2px groove #ccc;
    border-radius: 4px;
    margin: 0px 5px;
}
.btn {
    padding: 9px 20px;
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
#result {
    border-radius: 13px;
    margin: 18px 13px 0px 13px;
    padding: 2px;
    background-color: #FFFFFF;
}
#result h2 {
    margin: 24px 14px;
    border: 2px solid #dbdbdb;
    border-radius: 13px;
    padding: 10px;
}
.validation-results {
    display: flex;
    padding-top: 10px;
    margin: 24px 14px;
    border: 2px solid #dbdbdb;
    border-radius: 13px;
    padding: 10px;
    height: 340px;
    overflow: auto;
}
/* Cross sign and Circle styles */
.crosssign {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    transform: rotate(45deg);
    float: left;
    margin-right: 10px;
}
.crosssign_circle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 11px;
}
.crosssign_stem, .crosssign_stem2 {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.crosssign_stem { width: 3px; height: 9px; }
.crosssign_stem2 { width: 9px; height: 3px; }
.circle {
    background: #8cc63e;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.circleyellow {
    background: #baba2c;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 26%;
    top: 48%;
    height: 7px;
    width: 3px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}
footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
